<h1>Dish-Lists</h1>

<h3>Click on a user to view their Dish-List</h3>
<br>

<% @lists.each do |list| %>
<ul>
  <li><%= link_to list.user.name, list_path(list) %> | Last updated: <%= ListsHelper.last_updated(list) %>
  | <%= link_to "view list", list_path(list), id: "view_list" %> </li>
</ul>
<% end %>
