<h1>Dish-Lists</h1>

<p>Click on a user to view their dish-list</p>

<% @lists.each do |list| %>
    <p><%= link_to list.user.email, list_path(list) %></p>
<% end %>

<%= link_to "View my list", list_path(session[:user_id]) %>
