<h1> <%= list_user.name %>'s Dish-List</h1>
<br>

<% @list.list_items.each.with_index(1) do |list_item, i| %>
  <div class="inline">
    <strong><%= i %>.</strong>
    <%= render partial: "dishes/dish", locals: {dish: list_item.dish}%>
    <%= render partial: "dishes/add_link", locals: {dish: list_item.dish}%>
  </div><br>
<% end %>
