<div class="text">
  <h1>Already a member?<br>Sign in</h1>

  <%= form_tag(sessions_path) do %>
    Email: <%= text_field_tag :email, '', :placeholder => "peter@example.com" %><br><br>
    Password:<%= password_field_tag :password, '', :placeholder => "6-20 characters" %><br><br>

    <%= submit_tag "Log in", :class => "form-submit" %><br>
  <% end %>
</div>
