<div class="text">
  <h1>Welcome to Dish-List</h1>
  <p><br> a place to <strong>cultivate your personal list of must-eat dishes</strong>, browse the all-time most popular dishes, view other users Dish-Lists, and find must-try restaurants</p>
</div>
