<div class="content">
  <div class="blurb">
    <p>Cultivate your personal list of your must-eat dishes!<br>
      View other users Dish-Lists <strong>|</strong> Top 10 most popular dishes<br>
      Find popular restaurants <strong>|</strong> Browse all dishes and restaurants </p>
  </div>

  <div class="index-images">
    <%= render partial: "layouts/placeholder_images" %>
  </div>
</div>
