<h1>Welcome to Dish - List!</h1>

<h3>Your personal wish list for restaurant dishes you're dying to try</h3>

 <!-- <%#= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %> -->

<!-- if logged in:
 <p>View your lists</p>
 <p>View all lists</p>
 <p>View all restaurants</p>
 <p>View all dishes</p>
 <p>View most popular dishes!</p> -->
