<div class="key">
    | &#10003; tried dish | &#9679; not yet tried | <div class="wrap">tried</div> mark as tried | <div class="wrap">add</div> add to dish-list | <div class="wrap">x</div> remove from dish-list |
</div>
