<% if params[:user_id] %>
  <h1>Your Dish-List</h1>
  <h3>Every dish on your personal must-eat list</h3>
  <p>If you've tried a dish but can't wait to eat it again, mark it as tasted and leave it on your Dish-List</p>

<% else %>
  <h1>Dishes</h1>
  <h3>Every dish users are craving</h3>
<% end %>

<% if @dishes.empty? || nil %>
  <%= render partial: "no_dishes" %>

<% else %>
  <br>
  <% @dishes.each do |dish| %>
    <%= render partial: "list_item", locals: {dish: dish} %>
  <% end %>
<% end %>

<% if params[:user_id] %>
  <br><br><br>
  <%= render partial: "key" %>
<% end %>
