<h1>Dishes</h1>

<% @dishes.each do |dish| %>
  <h4><%= dish.name %></h4>
  <p><%= dish.restaurant.name %> - <%= dish.restaurant.location %></p>
<% end %>

<br>
<%= link_to "Add new dish", new_dish_path %>
