<h1><%= @restaurant.name %></h1>

<strong>Type of cuisine:</strong> <%= @restaurant.cuisine %><br>
<strong>Location:</strong> <%= @restaurant.location %><br>

<strong><%= link_to "View dishes", restaurant_dishes_path(@restaurant) %></strong>
