/* *= require_tree .
*= require_self */

body {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(23, 48, 30);
}

a {
  color: #00001a;
}

.container {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 500px 1fr 30px;
grid-gap: 5px;
grid-template-areas:
    "header"
    "content"
    "footer"
}

.top {
 grid-area: header;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 15fr 1fr;
 grid-template-areas:
 "hero"
 "nav"
}

.hero {
 grid-area: hero;
 color: white;
 border-radius: 15px;
 text-align: left;
 text-justify: center;
 letter-spacing: 3px;
 line-height: 70%;
 background-image: url(header.jpg);
 background-size: cover;
 background-position: bottom right;
 display: grid;
 align-content: end;
 justify-content: start;
 padding: 20px;
 font: white;
}

.menu {
 grid-area: nav;
 align-self: center;
 justify-self: center;
 letter-spacing: 1.5px;
 font-size: 12px;
}

/* .content {
 display: none;
} */

.sidebar {
 grid-area: content;
 background-color: #00001a;
 border-radius: 15px;
 padding: 15px;
 letter-spacing: 1.25px;
 display: grid;
 grid-gap: 20px;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
}

.item {
 display: grid;
 grid-template-columns: 1;
 grid-template-rows: 1;
}

.item img {
 grid-column: 1 / -1;
 grid-row: 1 / -1;
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: 15px;
}

.item_overlay {
 background: #ffffff50;
 grid-column: 1 / -1;
 grid-row: 1 / -1;
 border-radius: 15px;
 position: relative;
 display: grid;
 justify-items: center;
 align-items: center;
 transition: 0.2s;
 display: none;
}

.item_overlay a {
 text-decoration: none;
 border: 2px solid #00001a;
 background-color: #ffffff80;
 color: #00001a;
 text-transform: uppercase;
 padding: 5px;
 text-align: center;
}

.item:hover .item_overlay {
 display: grid;
}

footer {
 grid-area: footer;
 padding: 20px;
 align-self: center;
 justify-self: center;
 letter-spacing: 1.5px;
 font-size: 12px;
}
