<div class="item">
  <img src="/assets/your-list.jpg" alt="">
</div>

<div class="item">
  <img src="/assets/add-new.jpg" alt="">
</div>

<div class="item">
  <img src="/assets/all-lists.jpg" alt="">
</div>

<div class="item">
  <img src="/assets/most-popular.jpg" alt="">
</div>

<div class="item">
  <img src="/assets/all-dishes.jpg" alt="">
</div>

<div class="item">
  <img src="/assets/popular-restaurants.jpg" alt="">
</div>

<div class="item">
  <img src="/assets/all-restaurants.jpg" alt="">
</div>

<div class="item">
  <img src="/assets/profile.jpg" alt="">
</div>
