<div class="item">
  <img src="/assets/your-list.jpg" alt="">
  <div class="item_overlay">
    <p> your dish-list </p>
  </div>
</div>

<div class="item">
  <img src="/assets/add-new.jpg" alt="">
  <div class="item_overlay">
    <p>create new dish</p>
  </div>
</div>

<div class="item">
  <img src="/assets/all-lists.jpg" alt="">
  <div class="item_overlay">
    <p>all dish-lists</p>
  </div>
</div>

<div class="item">
  <img src="/assets/most-popular.jpg" alt="">
  <div class="item_overlay">
    <p>most popular<br>dishes</p>
  </div>
</div>

<div class="item">
  <img src="/assets/all-dishes.jpg" alt="">
  <div class="item_overlay">
    <p>all dishes</p>
  </div>
</div>

<div class="item">
  <img src="/assets/popular-restaurants.jpg" alt="">
  <div class="item_overlay">
    <p>most popular<br>restaurants</p>
  </div>
</div>

<div class="item">
  <img src="/assets/all-restaurants.jpg" alt="">
  <div class="item_overlay">
    <p>all restaurants</p>
  </div>
</div>

<div class="item">
  <img src="/assets/profile.jpg" alt="">
  <div class="item_overlay">
    <p>homepage</p>
  </div>
</div>
